<div class="container">

    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="form-floating">
            {{ form_row(form.lastClass) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-floating">
            {{ form_row(form.foreignEducation) }}
        </div>
    </div>