{% extends 'base.html.twig' %}

{% block title %}New LigneHorsForfait{% endblock %}

{% block body %}
    <h1>Create new LigneHorsForfait</h1>

    {{ include('ligne_hors_forfait/_form.html.twig') }}

    <a href="{{ path('app_ligne_hors_forfait_index') }}">back to list</a>
{% endblock %}
