{% extends 'base.html.twig' %}

{% block title %}New Seminaire{% endblock %}

{% block body %}
    <h1>Create new Seminaire</h1>

    {{ include('seminaire/_form.html.twig') }}

    <a href="{{ path('app_seminaire_index') }}">back to list</a>
{% endblock %}
